<!-- TODO: Load images dynamically -->

@if (gameStage === 'playing') {
   <h2 class="text-3xl mb-10 text-center">Level {{ level }}</h2>
}
@if (scoreResult && (gameStage === 'scoring' || gameStage === 'gameover')) {
   <h2 class="text-3xl mb-10 text-center">
      Level {{ level }} - Score: {{ scoreResult.points }}
   </h2>
}
@if (scoreResult && (gameStage === 'scoring' || gameStage === 'gameover')) {
   @if (scoreResult.points === 0) {
      <p class="text-center mb-2 h-96">No points scored this round.</p>
   } @else {
      <div
         class="map-container aspect-square max-w-96 mx-auto rounded-2xl overflow-hidden">
         <google-map
            [center]="actualPosition"
            [options]="options">
            @if (scoreResult.distance === 0) {
               <map-marker
                  [label]="{
                     text: 'Perfect Guess!',
                     color: 'white',
                     fontSize: '16px',
                     fontWeight: 'bold',
                  }"
                  [position]="actualPosition"></map-marker>
            } @else {
               <map-marker
                  [label]="{
                     text: 'Guess Position',
                     color: 'white',
                     fontSize: '16px',
                     fontWeight: 'bold',
                  }"
                  [position]="guessPosition"></map-marker>
               <map-polyline
                  [options]="{ strokeColor: 'red' }"
                  [path]="[guessPosition, actualPosition]"></map-polyline>
               <map-marker
                  [label]="{
                     text: 'Actual Location',
                     color: 'white',
                     fontSize: '16px',
                     fontWeight: 'bold',
                  }"
                  [position]="actualPosition">
               </map-marker>
            }
         </google-map>
      </div>
   }
}
@if (gameStage === 'playing' || gameStage === 'loading') {
   <div class="relative mx-auto aspect-square max-w-96 w-full">
      @if (activeChallenge) {
         <img
            class="absolute object-contain w-full h-full inset-0"
            [src]="stages[level - 1].image"
            alt="" />
      } @else {
         <div class="absolute inset-0 rounded-md bg-gray-500"></div>
         <lucide-icon
            class="absolute animation-duration-200 left-1/2 top-1/2 -translate-x-1/2 size-10 animate-spin -translate-y-1/2"
            [img]="LoaderCircleIcon"
            name="loader-circle"></lucide-icon>
      }
   </div>
}
<!-- Full screen zoomable image -->

@if (activeChallenge && open) {
   <div
      tabindex="-1"
      class="fixed touch-none bg-black/35 max-w-screen z-1 max-h-screen overflow-hidden inset-0">
      <img
         (pointerdown)="handlePointerDown($event)"
         (pointermove)="handlePointerMove($event)"
         (pointerup)="handlePointerUp($event)"
         [style.scale]="zoom"
         [style.transform]="'translate(' + posX + 'px, ' + posY + 'px)'"
         [style.transformOrigin]="`${zoomOriginX}px ${zoomOriginY}px`"
         (wheel)="handleWheel($event)"
         class="fixed z-1 object-contain w-full h-full inset-0 p-10"
         [src]="stages[level - 1].image"
         alt="" />
      <button
         (click)="toggleInspect()"
         class="z-2 top-5 p-3 rounded-full border border-white bg-black/35 absolute right-5">
         <lucide-icon
            class="size-10"
            aria-label="close"
            color="white"
            [img]="XIcon"></lucide-icon>
      </button>
   </div>
}
<div class="w-full flex items-center justify-center">
   <app-button
      variant="secondary"
      class="w-50 mt-4"
      label="Inspect Image"
      (onClick)="toggleInspect()" />
</div>
<div class="flex mt-8 gap-2 flex-col items-center">
   <div class="flex-col max-w-lg w-full flex gap-2">
      @if (gameStage === 'scoring' && scoreResult) {
         <p>
            Distance:
            {{
               scoreResult.distance > 1000
                  ? scoreResult.distance / 1000 + ' km'
                  : scoreResult.distance + ' m'
            }}
         </p>
      }
      @if (gameStage === 'playing') {
         <p>Note: accurracy only needs to be within 7 decimal places</p>
      }
      <app-input
         [(value)]="latitude"
         class="w-full"
         [disabled]="gameStage === 'scoring' || gameStage === 'gameover'"
         label="Latitude" />
      <app-input
         [(value)]="longitude"
         class="w-full"
         [disabled]="gameStage === 'scoring' || gameStage === 'gameover'"
         label="Longitude" />

      @if (gameStage === 'playing') {
         <app-button
            (click)="handleGuess()"
            class="self-end mt-2"
            variant="primary"
            label="Guess" />
      }
      @if (gameStage === 'gameover') {
         <app-button
            class="self-end mt-2"
            (click)="endGame()"
            variant="secondary"
            label="End Game" />
      }
      @if (gameStage === 'scoring') {
         <app-button
            (click)="nextLevel()"
            class="self-end mt-2"
            label="Next" />
      }
   </div>
</div>
