<!-- TODO: Load images dynamically -->
<div class="mt-20 max-sm:mt-10 relative mx-auto size-96">
   @if (image) {
      <img
         class="absolute object-contain w-full h-full inset-0"
         [src]="image"
         alt="" />
   } @else {
      <lucide-icon
         [img]="LoaderCircleIcon"
         name="loader-circle"></lucide-icon>
   }
</div>

<!-- Full screen zoomable image -->

@if (open) {
   <div
      tabindex="-1"
      class="absolute bg-black/35 inset-0 overflow-hidden">
      <img
         (pointerdown)="handlePointerDown($event)"
         (pointermove)="handlePointerMove($event)"
         (pointerup)="handlePointerUp($event)"
         [style.scale]="zoom"
         [style.transform]="'translate(' + posX + 'px, ' + posY + 'px)'"
         [style.transformOrigin]="`${zoomOriginX}px ${zoomOriginY}px`"
         (wheel)="handleWheel($event)"
         class="absolute z-1 object-contain w-full h-full inset-0"
         [src]="image"
         alt="" />
      <button
         (click)="toggleInspect()"
         class="z-2 top-5 p-3 rounded-full border border-white bg-black/35 absolute right-5">
         <lucide-icon
            class="size-10"
            aria-label="close"
            color="white"
            [img]="XIcon"></lucide-icon>
      </button>
   </div>
}
<div class="w-full flex items-center justify-center">
   <app-button
      variant="secondary"
      class="w-50 mt-4"
      label="Inspect Image"
      (onClick)="toggleInspect()" />
</div>
<div class="flex mt-8 gap-2 flex-col items-center">
   <div class="flex-col flex gap-2">
      <div class="divide-x flex divide-accent border-accent">
         <label
            class="bg-foreground text-primary border-r-0 p-1 border-foreground-accent border rounded-l-md"
            for="latitude"
            >Latitude</label
         >
         <input
            type="number"
            [(ngModel)]="latitude"
            class="focus:outline-1 grow rounded-r-md p-1 border border-foreground-accent [&::-webkit-inner-spin-button]:appearance-none"
            id="latitude" />
      </div>
      <div class="divide-x flex divide-accent border-accent">
         <label
            class="bg-foreground text-primary border-r-0 p-1 border-foreground-accent border rounded-l-md"
            for="longitude"
            >Longitude</label
         >
         <input
            [(ngModel)]="longitude"
            class="focus:outline-1 grow rounded-r-md p-1 border border-foreground-accent [&::-webkit-inner-spin-button]:appearance-none"
            id="longitude"
            type="number" />
      </div>

      <!-- TODO: Add guessing system -->
      <app-button
         class="self-end mt-2"
         variant="primary"
         label="Guess" />
   </div>
</div>
